@import "tailwindcss";

@font-face {
  font-family: "pixel";
  src: url("/public/fonts/PressStart2P.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("/public/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "pixel", Arial, Helvetica, sans-serif;
}

@theme {
  --color-purple: #9f00ff;
  --color-pink: #f3e3fd;
  --color-blue: #11a4ff;
  --color-lightblue: #5eb7ff;
  --color-red: #ff4c4c;
  --color-green: #9ee9bd;
}

@layer utilities {

  .child {
    @apply flex flex-col w-full md:w-1/4;
  }

  .child-middle {
    @apply flex flex-col h-full md:w-1/2;
  }
  .red {
    @apply text-[var(--color-red)] font-bold;
  }

  .hero-text {
    @apply flex flex-col justify-center xl:text-[50px] lg:text-[40px] md:text-[30px] text-[18px] font-semibold relative z-10 pointer-events-none whitespace-nowrap;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[13px] md:h-[40px] lg:h-[75px] md:translate-y-1 translate-y-0 overflow-hidden;
    }

    .projects-container {
      @apply w-100 h-[500px];
    }

    .cards-wrapper {
      flex-grow: 1;
      transition: flex-grow 0.5s ease;
    }
    .cards-wrapper:hover {
      flex-grow: 7;
    }

    .flip-card {
      translate: 0 100%;
    }
  }

  .font-fair {
    font-family: "playfair", Arial, Helvetica, sans-serif;
  }

  .glow-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(89, 215, 87, 0.742),
      transparent 90%
    );
    filter: blur(80px);
    opacity: 0.8;
    pointer-events: none;
    z-index: 0;
  }

  .button-wrapper {
    height: 100%;
    width: 50%;
    position: relative;
    display: inline-block;
  }

  .button-shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* garante sobreposição perfeita */
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-weight: bold;
    border: none;
  }

  /* camada da frente */
  .button-front {
    background: white;
    color: black;
    z-index: 2;
    overflow: hidden;
  }

  /* camada de trás */
  .button-back {
    background: linear-gradient(90deg, black, purple, black);
    color: white;
    z-index: 1;
  }

  /* feixe que revela a camada de trás */
  .button-front::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* feixe */
    transform: skewX(-20deg);
    animation: shine 5s infinite;
  }

  /* animação do feixe */
  @keyframes shine {
    0% {
      left: -60%;
    }
    30% {
      left: 120%;
    }
    100% {
      left: 120%;
    }
  }

  .lenguages {
    @apply m-1 p-1 lg:p-2 lg:mx-1 lg:mt-100 rounded-2xl text-[10px];
  }

  .shadow-purple {
    box-shadow: 0px 0px 15px 8px rgba(51, 2, 80, 0.227);
  }
  .shadow-coners {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.412);
  }

  .gradient-border {
    background: linear-gradient(
      to right bottom,
      transparent,
      #ff0080,
      #6e00dd,
      transparent
    );
    padding: 3px; /* Largura da "borda" */
    border-radius: 30px; /* Opcional */
    display: inline-block;
  }

  .gradient-border-prof {
    background: linear-gradient(
      to right bottom,
      transparent,
      #fd5d00,
      #0d01b9,
      transparent
    );
    padding: 3px; /* Largura da "borda" */
    border-radius: 30px; /* Opcional */
    display: inline-block;
  }

  .gradient-content {
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 30px; /* Um pouco menor para alinhar com o exterior */
  }

  .cta-button {
    @apply px-4 py-4 rounded-b-full rounded-l-full bg-green-400 flex justify-center items-center relative cursor-pointer overflow-hidden;
  }

  .bg-circle {
    @apply absolute -right-10 origin-center bg-[var(--color-green)] top-1/2 -translate-y-1/2 w-[120%] h-[120%] group-hover:size-12 group-hover:right-3  rounded-full transition-all duration-500 ease-in-out;
  }

  /* Tailwind custom utilities */
  .perspective {
    perspective: 2000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .projects-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .projects-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .projects-container::-webkit-scrollbar-thumb {
    background: #ecc9ff;
    border-radius: 5px;
  }

  .animate-slide {
    animation: slide 4s linear infinite;
  }

  .animate-slide-two {
    animation: slidetwo 8s linear infinite;
  }

  .animation-paused {
    animation-play-state: paused;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slidetwo {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(40%);
    }
  }

  .linknav::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: all 0.5s ease;
    transform: translateX(-50%);
  }

  .linknav:hover::after {
    left: 0;
    width: 100%;
    transform: translateX(0);
  }

  .scroll-bar::-webkit-scrollbar {
    width: 8px;
  }

  .scroll-bar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: #8807c4;
    border-radius: 10px;
  }

  .fill {
    @apply absolute top-0 left-0 h-full bg-black z-0 transition-all duration-900 ease-in-out;
  }

  .input {
    @apply w-[190px] lg:w-[50%] transition-all duration-400 ease-in-out text-sm bg-green rounded-2xl outline-none hover:bg-green-400 focus:border-black focus:bg-green-400 focus:ring-2 focus:ring-cyan-300/50 px-2 pt-1;
  }

  .rounded-new {
    border-radius: 500px 50px 50px 500px;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.539);
  }

  .wobble:hover {
    animation: wobble 1s infinite ease-in-out;
  }

  @keyframes wobble {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(2px);
    }
  }

  .section {
    @apply h-screen w-screen relative flex-shrink-0 snap-start;
  }
  .slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
  }

  @keyframes wordSlider {
    0% {
      transform: translateY(0.5%);
    }
    12.5% {
      transform: translateY(-12.5%);
    }
    25% {
      transform: translateY(-25%);
    }
    37.5% {
      transform: translateY(-37.5%);
    }
    50% {
      transform: translateY(-50%);
    }
    62.5% {
      transform: translateY(-62.5%);
    }
    75% {
      transform: translateY(-75%);
    }
    87.5% {
      transform: translateY(-87.5%);
    }
  }
}


@media (min-width: 1024px) {
   .animate-slide-two:hover {
    animation-play-state: paused;
  }
}
